# Remix compiler artifacts
**/artifacts/
**/artifacts/**
.DS_Store
node_modules/
contracts/*_flattened.sol
package-lock.json

# Remix plugin state folders
deps/
states/
dist
# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
